node_modules
.env
uploads/*
!uploads/.gitkeep
imageUploads/*
!imageUploads/.gitkeep
!imageUploads/pexels-olly-3914678.jpg
!imageUploads/Classic_music.jpg
!uploads/good for the ghost - Alge.mp3
!uploads/Calling me back - Patrick Patrikios.mp3
!uploads/Flight Is Aight - Karneef.mp3
!uploads/Groove - Dyalla.mp3
!uploads/High Life - The Mini Vandals featuring Mamadou Koita and Lasso.mp3
!uploads/Impertinence - Joel Cummins.mp3
!uploads/Nocturne - Asher Fulero.mp3
!uploads/Tubby - Steve Adams.mp3
!uploads/Boogie Down - The Grey Room _ Golden Palms.mp3